@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;900&display=swap');

:root {
    --main-color: #D1771D;
    --main-normal-color: #F99848;
    --main-light-color: #FCA251;
    --main-deep-color: #BA671C;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --gray-color: #111111;
}

* {
    transition: linear .3s;
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Noto Sans TC', serif;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: normal;
    background-color: #0b0b0b;
    opacity: 1;
    background-image: radial-gradient(ellipse farthest-corner at 7px 7px, #111111, #111111 50%, #0b0b0b 50%);
    background-size: 7px 7px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.flex-direction-column {
    flex-direction: column;
}

.title-font {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
}

.number-font {
    font-family: 'Nanum Myeongjo', serif;
    font-style: italic;
    letter-spacing: 10px;
}

.text-2xl {
    font-size: 11.5em;
}

.text-xl {
    font-size: 4.8em;
}

.text-md {
    font-size: 1.6em;
}

@media(max-width:991.98px) {
    .text-2xl {
        font-size: 9.5em;
    }

    .text-xl {
        font-size: 3em;
        line-height: 1.3em !important;
    }

    .text-md {
        font-size: 1.3em;
        line-height: 1.4em !important;
    }
}

.text-sm {
    font-size: .92em;
}

.text-xs {
    font-size: .7em;
}

.text-thin {
    font-weight: 300;
}

.text-bold {
    font-weight: 500;
}

.text-extrabold {
    font-weight: 700;
}

.text-black {
    font-weight: 900;
}

p {
    line-height: 2em;
}

.text-center {
    text-align: center;
}

.white-color {
    color: var(--white-color);
}

.shadow {
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.75));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75))
}

/*Background*/
.bg-01 {
    background-image: url("../img/bg-01.webp");
    background-size: 1920px 1080px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.bg-01::before {
    content: '';
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: .55;
    position: absolute;
    bottom: 0;
}

.bg-02 {
    background-image: url("../img/bg-02-1.webp"), url("../img/bg-02-2.webp");
    background-size: 1920px 1000px, 1920px 1000px;
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    position: relative;
}

.bg-02::before {
    content: '';
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: .6;
    position: absolute;
    bottom: 0;
}

.bg-footer {
    background-image: url("../img/bg-footer.webp");
    background-size: 1920px 1000px;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
}

.bg-footer::before {
    content: '';
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: .6;
    position: absolute;
    bottom: 0;
}

.bg-footer::after {
    content: '';
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, var(--main-normal-color) 0%, var(--main-deep-color) 25%, var(--main-light-color) 50%, var(--main-light-color) 75%, var(--main-color) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}

@media(max-width:991.98px) {
    .bg-01, .bg-footer {
        background-size: cover;
    }

    .bg-02 {
        background-size: cover cover;
    }
}

/*Background*/

/*Layout*/
main,
footer {
    max-width: 1920px;
    width: 100%;
    background-color: var(--black-color);
    margin: 0 auto;
    position: relative;
}

.logo {
    margin-top: 30px;
}

.header {
    height: 1000px;
    padding-bottom: 2rem;
}

@media(max-width:991.98px) {
    .header {
        height: 800px;
        padding-bottom: 2rem;
    }
}

.main {
    height: 1900px;
    padding-top: 120px;
}

@media(max-width:767.98px) {
    .main {
        height: 2100px;
    }
}

footer {
    height: 800px;
}

@media(max-width:767.98px) {
    footer {
        height: 700px;
    }
}

.header,
.main,
.footer {
    position: relative;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
}

/*Layout*/

/*Header*/
.header .title h1 {
    width: 720px;
    height: auto;
    line-height: normal;
    letter-spacing: 6px;
    color: transparent;
    background: linear-gradient(to right, var(--main-normal-color) 0%, var(--main-deep-color) 25%, var(--main-light-color) 50%, var(--main-light-color) 75%, var(--main-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0 auto;
    position: relative;
}

@media(max-width:991.98px) {
    .header .title h1 {
        width: 600px
    }
}

@media(max-width:767.98px) {
    .header .title h1 {
        width: 500px
    }
}

@media(max-width:575.98px) {
    .header .title h1 {
        width: 320px;
    }
}

.header .title h2 {
    width: 520px;
    height: auto;
    line-height: normal;
    letter-spacing: 3px;
    color: transparent;
    background: linear-gradient(to right, var(--main-normal-color) 0%, var(--main-deep-color) 25%, var(--main-light-color) 50%, var(--main-light-color) 75%, var(--main-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0 auto;
}

@media(max-width:991.98px) {
    .header .title h2 {
        width: 400px;
    }
}

@media(max-width:767.98px) {
    .header .title h2 {
        width: 400px;
    }
}

@media(max-width:575.98px) {
    .header .title h2 {
        width: 280px;
    }
}

.header .gradient-border {
    width: 760px;
    position: relative;
    margin: 3rem auto 5rem auto;
}

@media(max-width:991.98px) {
    .header .gradient-border {
        width: 600px;
        position: relative;
        margin: 3rem auto 5rem auto;
    }
}

@media(max-width:767.98px) {
    .header .gradient-border {
        width: 500px;
        position: relative;
        margin: 3rem auto 5rem auto;
    }
}

@media(max-width:575.98px) {
    .header .gradient-border {
        width: 320px
    }
}

.header .gradient-border::before {
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 0%, var(--main-deep-color) 30%, var(--main-light-color) 50%, var(--main-light-color) 70%, transparent 100%);
    position: absolute;
    top: -45px;
    left: -50%;
    transform: translateX(50%);
    -webkit-animation: FX-breathe 4s ease infinite;
    animation: FX-breathe 4s ease infinite;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.header .gradient-border::after {
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent 0%, var(--main-deep-color) 30%, var(--main-light-color) 50%, var(--main-light-color) 70%, transparent 100%);
    position: absolute;
    bottom: -40px;
    left: -50%;
    transform: translateX(50%);
    -webkit-animation: FX-breathe 4s ease infinite;
    animation: FX-breathe 4s ease infinite;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.header .title,
.header .text {
    margin-top: auto;
}

.header .text {
    margin-bottom: 2rem;
}

/*Header*/

/*Main*/
.main article {
    width: 560px;
    transform: translateX(35%);
    -webkit-transform: translateX(35%);
    -moz-transform: translateX(35%);
    -ms-transform: translateX(35%);
    -o-transform: translateX(35%);
}

@media(max-width:991.98px) {
    .main article {
        max-width: 560px;
        width: 100%;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.main .whisky-20 {
    transform: translateX(-300px);
}

@media(max-width:991.98px) {
    .main .whisky-20 {
        margin-bottom: 2rem;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.main .whisky {
    width: 220px;
    height: auto;
    line-height: normal;
    letter-spacing: 10px;
    color: transparent;
    background: linear-gradient(to right, var(--main-normal-color) 0%, var(--main-deep-color) 25%, var(--main-light-color) 50%, var(--main-light-color) 75%, var(--main-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
}

@media(max-width:991.98px) {
    .main .whisky {
        width: 190px;
    }
}

.main .whisky::before {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 33px;
    right: -70px;
    background: linear-gradient(to right, var(--main-normal-color) 0%, var(--main-deep-color) 25%, var(--main-light-color) 50%, var(--main-light-color) 75%, var(--main-color) 100%);
    -webkit-mask: url('../img/whisky-icon.svg') no-repeat center center;
    mask: url('../img/whisky-icon.svg') no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

@media(max-width:991.98px) {
    .main .whisky::before {
        width: 50px;
        height: 50px;
        bottom: 33px;
        right: -55px;
    }
}

.main .year {
    width: 230px;
    height: auto;
    line-height: normal;
    letter-spacing: 10px;
    color: transparent;
    background: linear-gradient(to right, var(--main-normal-color) 0%, var(--main-deep-color) 25%, var(--main-light-color) 50%, var(--main-light-color) 75%, var(--main-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 50px;
    position: absolute;
}

@media(max-width:991.98px) {
    .main .year {
        width: 190px
    }
}

.main .year::before {
    content: 'year';
    font-size: 46px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 33px;
    right: -90px;
    color: transparent;
    background: linear-gradient(to right, var(--main-normal-color) 0%, var(--main-deep-color) 25%, var(--main-light-color) 50%, var(--main-light-color) 75%, var(--main-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

@media(max-width:991.98px) {
    .main .year::before {
        bottom: 33px;
        right: -100px;
    }
}

.main .wineglass-bg {
    width: 260px;
    height: 420px;
    background-image: url('../img/wineglass.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: -1;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
}

@media(max-width:991.98px) {
    .main .wineglass-bg {
        width: 220px;
        height: 370px;
        margin-bottom: 2rem;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.main .wineglass-bg::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: .7;
    position: absolute;
}

.main h3 {
    color: var(--main-color);
    margin-bottom: 10px;
}

.main .text-header {
    height: 120px;
    background: linear-gradient(to right, var(--main-normal-color) 0%, var(--main-deep-color) 25%, var(--main-light-color) 50%, var(--main-light-color) 75%, var(--main-color) 100%);
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 0 8px;
}

.main .text {
    color: var(--white-color);
    margin-bottom: 60px;
}

.main .text-table {
    padding-bottom: 10px;
}

.main .text-table li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--main-color);
}

/*Main*/

/*Footer*/
footer .footer {
    height: 100%;
    padding-top: 100px;
}

footer .footer img {
    max-width: 400px;
    width: 100%;
}

footer small {
    color: var(--white-color);
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
}

/*Footer*/

.btn {
    height: 70px;
    font-size: 1.2em;
    line-height: 70px;
    color: var(--black-color);
    background: linear-gradient(to right, var(--main-deep-color) 0%, var(--main-normal-color) 30%, var(--main-normal-color) 50%, var(--main-light-color) 70%, var(--main-color) 100%);
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 1.5rem;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}

/*animation*/
@-webkit-keyframes FX-breathe {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FX-breathe {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 1;
    }
}